$primary-color: #002029;
$second-color: #00303d;
$third-color: #004052;
$fourth-color: #005066;
$fifth-color: #00607a;
$accent-color: #60e3dd;
$font-color: #f6f5ed;
$off-white: #ebebeb;
$off-black: #0f0f0f;
$leafs: #00205b;
$leafs-white: #ffffff;

.portfolio-page {
}
